<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MarGo</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="script/script.js"></script>
  </head>
  <body>
    <h3 style="color: white">Brands</h3>
    <div class="container">
      <div class="card__container">
        <% let a=1 %> <% for(let listing of allListings){ %> <% if(a==1){ %>
        <article class="card__article">
          <a href="/listings/<%=listing._id  %>">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
              <div class="card__shape-2"></div>
              <div class="card__shape-3">
                <img
                  class="brandicon"
                  src="<%= listing.image %>"
                  alt=""
                  height="100%"
                  width="100%"
                />
              </div>
            </div>

            <div class="card__data">
              <h2 class="card__title"><%= listing.Brand %></h2>

              <p class="card__description"><%= listing.Breif %></p>

              \
            </div>
          </a>
        </article>

        <% } else if(a==2){ %>
        <article class="card__article card__orange">
          <a href="/listings/<%=listing._id  %>">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
              <div class="card__shape-2"></div>
              <div class="card__shape-3">
                <img
                  class="brandicon"
                  src="<%= listing.image %>"
                  alt=""
                  height="100%"
                  width="100%"
                />
              </div>
            </div>

            <div class="card__data">
              <h2 class="card__title"><%= listing.Brand %></h2>

              <p class="card__description"><%= listing.Breif %></p>

              <a href="#" class="card__button"> Continue learninga </a>
            </div></a
          >
        </article>
        <% } else if(a==3){ %>
        <article class="card__article card__green">
          <a href="/listings/<%=listing._id  %>">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
              <div class="card__shape-2"></div>
              <div class="card__shape-3">
                <img
                  class="brandicon"
                  src="<%= listing.image %>"
                  alt=""
                  height="100%"
                  width="100%"
                />
              </div>
            </div>

            <div class="card__data">
              <h2 class="card__title"><%= listing.Brand %></h2>

              <p class="card__description"><%= listing.Breif %></p>

              <a href="#" class="card__button"> Continue learninga </a>
            </div>
          </a>
        </article>
        <% a=0 %> <% } %> <% a=a+1 %> <% } %>
      </div>
    </div>
  </body>
</html>
